* CONFIGURATION3.0
# ESRU system configuration defined by file 
# tim.cfg
*date Tue Jul 20 15:24:31 1999  # latest file modification 
*root tim
*zonpth ../zones                  # path to zones
*netpth ../nets                   # path to networks
*ctlpth ../ctl                    # path to controls
*radpth ../rad                    # path to radiance files
*imgpth ../images                 # path to project images
*indx    1 # Building only
 50.000    0.000   # Latitude & Longitude (diff from meridian)
      1   0.200   # Site exposure & ground reflectivity
* DATABASES
*prm  ../dbs/primitive.db
*mlc  ../dbs/composite.db
*opt  ../dbs/optic.db
*prs  /usr/esru/esp-r/databases/pressc.db1
*evn  /usr/esru/esp-r/databases/profiles.db1
*clm  /usr/esru/esp-r/climate/clm67
*pdb  /usr/esru/esp-r/databases/plantc.db1
*ctl  ../ctl/house_TIM.ctl
*year  1999 # assessment year
*img GIF   ****  ../images/residences.gif
*img GIF   ****  ../images/tim.gif
*nlt  house.nlt
# sim setup: no. sets startup zone_ts plant_ts save_lv
*sps     1    4    1   10    4
   9   3  11   3  def      # period & name
*sblr tim.res
*sflr tim.mfr
*end_set
*end_sps
* PROJ LOG
tim.log
* Building
House with transparent insulation wall in living room.
     13  # no of zones
*zon   1   # reference for bin_c       
*opr ../zones/bin_c.opr  # schedules
*geo ../zones/bin_c.geo  # geometry
*con ../zones/bin_c.con  # construction
*zend 
*zon   2   # reference for stairs      
*opr ../zones/stairs.opr  # schedules
*geo ../zones/stairs.geo  # geometry
*con ../zones/stairs.con  # construction
*zend 
*zon   3   # reference for hall_1      
*opr ../zones/hall_1.opr  # schedules
*geo ../zones/hall_1.geo  # geometry
*con ../zones/hall_1.con  # construction
*zend 
*zon   4   # reference for kitchen     
*opr ../zones/kitchen.opr  # schedules
*geo ../zones/kitchen.geo  # geometry
*con ../zones/kitchen.con  # construction
*tmc ../zones/kitchen.tmc  # transparent constr
*zend 
*zon   5   # reference for liv_room    
*opr ../zones/liv_room.opr  # schedules
*geo ../zones/liv_room.geo.TIM  # geometry
*con ../zones/liv_room.con.TIM  # construction
*tmc ../zones/liv_room.tmc  # transparent constr
*zend 
*zon   6   # reference for bathrm      
*opr ../zones/bathrm.opr  # schedules
*geo ../zones/bathrm.geo  # geometry
*con ../zones/bathrm.con  # construction
*tmc ../zones/bathrm.tmc  # transparent constr
*zend 
*zon   7   # reference for bed1        
*opr ../zones/bed1.opr  # schedules
*geo ../zones/bed1.geo  # geometry
*con ../zones/bed1.con  # construction
*tmc ../zones/bed1.tmc  # transparent constr
*zend 
*zon   8   # reference for w_heat_c    
*opr ../zones/w_heat_c.opr  # schedules
*geo ../zones/w_heat_c.geo  # geometry
*con ../zones/w_heat_c.con  # construction
*zend 
*zon   9   # reference for hall_2      
*opr ../zones/hall_2.opr  # schedules
*geo ../zones/hall_2.geo  # geometry
*con ../zones/hall_2.con  # construction
*zend 
*zon  10   # reference for bed2        
*opr ../zones/bed2.opr  # schedules
*geo ../zones/bed2.geo  # geometry
*con ../zones/bed2.con  # construction
*tmc ../zones/bed2.tmc  # transparent constr
*zend 
*zon  11   # reference for bed3        
*opr ../zones/bed3.opr  # schedules
*geo ../zones/bed3.geo  # geometry
*con ../zones/bed3.con  # construction
*tmc ../zones/bed3.tmc  # transparent constr
*zend 
*zon  12   # reference for loft        
*opr ../zones/loft.opr  # schedules
*geo ../zones/loft.geo  # geometry
*con ../zones/loft.con  # construction
*zend 
*zon  13   # reference for TIM         
*opr ../zones/TIM.opr  # schedules
*geo ../zones/TIM.geo  # geometry
*con ../zones/TIM.con  # construction
*tmc ../zones/TIM.tmc  # transparent constr
*zend 
*cnn  tim.cnn  # connections 
      1   # fluid flow network:  
../networks/house.mfn    # leakage description
  0  1  2  3  4  5  6  7  8  9  10 11  0
