* CONFIGURATION4.0
# ESRU system configuration defined by file 
# burdie.cfg
*date Sun Dec  8 15:07:54 2013  # latest file modification 
*root burdie
*zonpth  ../zone                   # path to zones
*netpth  ../flow                   # path to networks
*ctlpth  ../ctl                    # path to controls
*aimpth ./                        # path to aim2 files
*radpth ./                        # path to radiance files
*imgpth  ../images                 # path to project images
*docpth  ../doc                    # path to project documents
*dbspth  ../dbs                    # path to local databases
*hvacpth ./                        # path to hvac files
*bsmpth ./                        # path to BASESIMP files
*indx    1 # Building only
 50.000    0.000   # Latitude & Longitude (diff from time meridian)
      1   0.200   # Site exposure & ground reflectivity
* DATABASES
*stdmat  material.db4.a
*stdcfcdb  CFClayers.db1.a
*mlc  ../dbs/burdie.mdb
*stdopt  optics.db1
*stdprs  pressc.db1
*stdevn  profiles.db1.a
*stdclm  clm67
*stdmscldb  mscomp.db1
*stdmould  mould.db1 # mould isopleths
*stdpdb  plantc.db1
*stdsbem  SBEM.db1
*slr_half_hr   0  # solar timing hour centred
*quick_run   0  # no
*ctl  ../ctl/burdie.ctl
*contents ../doc/burdie.contents
*seasons
*name	Default UK clm Climate
*aide	Climate data as distributed with ESP-r for testing purposes.
*winter_s  1  1 12  3 30 10 31 12 # seasons Sat-01-Jan--Sun-12-Mar & Mon-30-Oct--Sun-31-Dec
*spring_s 13  3 14  5  4  9 29 10 # seasons Mon-13-Mar--Sun-14-May & Mon-04-Sep--Sun-29-Oct
*summer_s 15  5  3  9 # summer season Mon-15-May--Sun-03-Sep
*winter_t  6  2 12  2 20 11 26 11 # typical Sun-06-Feb--Sat-12-Feb & Mon-20-Nov--Sun-26-Nov
*spring_t 17  4 23  4  2 10  8 10 # typical Mon-17-Apr--Sun-23-Apr & Mon-02-Oct--Sun-08-Oct
*summer_t  3  7  9  7 # typical summer Mon-03-Jul--Sun-09-Jul
*help_start
Location is 52.0N and 0.0E. The solar radiation is Direct Normal.
 Month       Minimum  Time           Maximum  Time         Mean
 Jan          -6.4 @20h00 Sun  8    12.7 @14h00 Sun 29     3.8
 Feb          -1.9 @ 5h00 Tue 14    12.2 @13h00 Thu  2     5.2
 Mar          -0.8 @24h00 Fri 31    16.1 @15h00 Tue 21     6.8
 Apr          -1.9 @ 2h00 Sat  1    19.4 @15h00 Mon 17     7.1
 May           0.0 @ 3h00 Wed  3    22.7 @14h00 Thu 11    10.4
 Jun           5.0 @ 2h00 Fri  9    21.1 @15h00 Tue  6    13.6
 Jul           9.4 @ 3h00 Mon  3    27.7 @12h00 Mon 17    18.0
 Aug           7.7 @ 4h00 Sat  5    24.4 @12h00 Tue  1    15.6
 Sep           5.0 @ 6h00 Thu 21    22.2 @12h00 Tue 26    13.5
 Oct           2.2 @ 5h00 Mon 30    19.4 @13h00 Sat  7    10.8
 Nov          -0.8 @ 5h00 Mon 27    14.4 @14h00 Sat 11     5.2
 Dec          -4.2 @ 1h00 Sat  9    12.7 @ 9h00 Sat 23     3.8
 All   -6.4 @20h00 Sun  8 Jan  27.7 @12h00 Mon 17 Jul   9.5
 Typical winter week begins Monday 6 Feb,
 Typical spring week begins Monday 17 April,
 Typical summer week begins Monday 3 July.
 Typical autumn week begins Monday 2 October.
 Typical winter week begins Monday 20 November,
*season_end
*year  2000 # assessment year
*img GIF   ****  ../images/heat_recov.gif
*imdoc no documentation (yet) for this image
*img GIF   ****  ../images/simpar.gif
*imdoc no documentation (yet) for this image
*img GIF   ****  ../images/mld_predict.gif
*imdoc no documentation (yet) for this image
*rif  ../rad/burdie.rif
# sim setup: no. sets startup zone_ts plant_ts save_lv @ each ts
*sps    1   4   2  10   4   0
  12   3  16   3  default  # period & name
*sblr burdie.res
*sflr burdie.mfr
*smstr burdie.msr
*end_set
*end_sps
# Name and address of building
*B-NAME not yet defined
*B-ADDRESS not yet defined
*B-CITY not yet defined
*B-POSTCODE not yet defined
# Contact information for building owner
*O-NAME not yet defined
*O-ADDRESS not yet defined
*O-CITY not yet defined
*O-POSTCODE not yet defined
*O-TELEPHONE not yet defined
# Contact information for simulation team
*C-NAME not yet defined
*C-ADDRESS not yet defined
*C-CITY not yet defined
*C-POSTCODE not yet defined
*C-TELEPHONE not yet defined
* PROJ LOG
../doc/burdie.notes
* Building
burdie house detailed model for moisture & IAQ
     13  # no of zones
*zon   1   # reference for living_room 
*opr ../zone/living_room.opr  # schedules
*geo ../zone/living.geo  # geometry
*con ../zone/living_room.con  # construction
*tmc ../zone/liv_room.tmc  # transparent constr
*zend 
*zon   2   # reference for hall        
*opr ../zone/hall.opr  # schedules
*geo ../zone/hall.geo  # geometry
*con ../zone/hall.con  # construction
*tmc ../zone/hall.tmc  # transparent constr
*zend 
*zon   3   # reference for bathroom    
*opr ../zone/bathroom.opr  # schedules
*geo ../zone/bathrm.geo  # geometry
*con ../zone/bathroom.con  # construction
*tmc ../zone/bathroom.tmc  # transparent constr
*zend 
*zon   4   # reference for kitchen     
*opr ../zone/kitchen.opr  # schedules
*geo ../zone/kitch.geo  # geometry
*con ../zone/kitchen.con  # construction
*tmc ../zone/kitchen.tmc  # transparent constr
*zend 
*zon   5   # reference for store       
*opr ../zone/store.opr  # schedules
*geo ../zone/store.geo  # geometry
*con ../zone/store.con  # construction
*zend 
*zon   6   # reference for hall_up     
*opr ../zone/hall_up.opr  # schedules
*geo ../zone/hall_up.geo  # geometry
*con ../zone/hall_up.con  # construction
*tmc ../zone/hall_up.tmc  # transparent constr
*zend 
*zon   7   # reference for bed_1       
*opr ../zone/bed_1.opr  # schedules
*geo ../zone/bed_1.geo  # geometry
*con ../zone/bed_1.con  # construction
*tmc ../zone/bed_1.tmc  # transparent constr
*zend 
*zon   8   # reference for bed_2       
*opr ../zone/bed_2.opr  # schedules
*geo ../zone/bed_2.geo  # geometry
*con ../zone/bed_2.con  # construction
*tmc ../zone/bed_2.tmc  # transparent constr
*zend 
*zon   9   # reference for bed_3       
*opr ../zone/bed_3.opr  # schedules
*geo ../zone/bed_3.geo  # geometry
*con ../zone/bed_3.con  # construction
*tmc ../zone/bed_3.tmc  # transparent constr
*mst ../zone/bed_3.mst  # moisture
*zend 
*zon  10   # reference for t_bridge    
*opr ../zone/t_bridge.opr  # schedules
*geo ../zone/t_bridge.geo  # geometry
*con ../zone/t_bridge.con  # construction
*zend 
*zon  11   # reference for loft        
*opr ../zone/loft.opr  # schedules
*geo ../zone/loft.geo  # geometry
*con ../zone/loft.con  # construction
*zend 
*zon  12   # reference for collector   
*opr ../zone/collector.opr  # schedules
*geo ../zone/collector.geo  # geometry
*con ../zone/collector.con  # construction
*zend 
*zon  13   # reference for bed_3_air_g 
*opr ../zone/bed_3_air_gap.opr  # schedules
*geo ../zone/bed_3_air_gap.geo  # geometry
*con ../zone/bed_3_air_gap.con  # construction
*zend 
*cnn burdie.cnn  # connections
   1   # fluid flow network:
../flow/burdie.mfn    # leakage description
 liv,hall,bath,kitch,store,hal_up,bed1,bed2,bed3,t_br,loft,coll,a_gap
