* CONFIGURATION3.0
# ESRU system configuration defined by file 
# office.cfg
*date Fri Oct  2 09:04:50 2009  # latest file modification 
*root office
*zonpth ../zones                  # path to zones
*netpth ../nets                   # path to networks
*ctlpth ../ctl                    # path to controls
*radpth ./                        # path to radiance files
*imgpth ../images                 # path to project images
*tmppth ./                        # path to project scratch folder
*docpth ./                        # path to project documents
*dbspth ./                        # path to local databases
*indx    1 # Building only
 52.000    0.000   # Latitude & Longitude (diff from time meridian)
      1   0.200   # Site exposure & ground reflectivity
* DATABASES
*stdmat  constr.db1.a
*mlc  ../dbs/multicon.db
*opt  ../dbs/optics.db1
*prs  /usr/esru/esp-r/databases/pressc.db1
*evn  /usr/esru/esp-r/databases/profiles.db1.a
*clm  /usr/esru/esp-r/climate/clm67
*mscldb  /home/jon/esru_03aug/esp-r/databases/mscomp.db1
*pdb  /usr/esru/esp-r/databases/plantc.db1
*slr_half_hr   0  # solar timing hour centred
*ctl  ../ctl/office.ctl
*year  1967 # assessment year
*rif  office.rcf
# Address of building, owner and certifier
*B-NAME       not yet defined
*B-ADDRESS    not yet defined
*B-CITY       not yet defined
*B-POSTCODE   not yet defined
*O-NAME       not yet defined
*O-ADDRESS    not yet defined
*O-CITY       not yet defined
*O-POSTCODE   not yet defined
*O-TELEPHONE  not yet defined
*C-NAME       not yet defined
*C-ADDRESS    not yet defined
*C-CITY       not yet defined
*C-POSTCODE   not yet defined
*C-TELEPHONE  not yet defined
* PROJ LOG
job.notes
* Building
Tower office with electrochromic glazing and daylight linking control
      4  # no of zones
*zon   1   # reference for office-s    
*opr ../zones/office.opr  # schedules
*geo ../zones/office-s.geo  # geometry
*con ../zones/office-s.con  # construction
*tmc ../zones/office-s.350.tmc  # transparent constr
*cgc ../zones/office-s.cgc # casual gn control
*zend 
*zon   2   # reference for office-w    
*opr ../zones/office.opr  # schedules
*geo ../zones/office-w.geo  # geometry
*con ../zones/office-w.con  # construction
*tmc ../zones/office-w.350.tmc  # transparent constr
*cgc ../zones/office-w.cgc # casual gn control
*zend 
*zon   3   # reference for office-n    
*opr ../zones/office.opr  # schedules
*geo ../zones/office-n.geo  # geometry
*con ../zones/office-n.con  # construction
*tmc ../zones/office-n.350.tmc  # transparent constr
*cgc ../zones/office-n.cgc # casual gn control
*zend 
*zon   4   # reference for office-e    
*opr ../zones/office.opr  # schedules
*geo ../zones/office-e.geo  # geometry
*con ../zones/office-e.con  # construction
*tmc ../zones/office-e.350.tmc  # transparent constr
*cgc ../zones/office-e.cgc # casual gn control
*zend 
*cnn  office.cnn  # connections 
      0   # no fluid flow network
