[submodule "doc"]
	path = doc
	url = https://github.com/ESP-rCommunity/ESP-rDoc.git
[submodule "databases"]
	path = databases
	url = https://github.com/ESP-rCommunity/ESP-rDatabases.git
[submodule "models"]
	path = models
	url = https://github.com/ESP-rCommunity/ESP-rModels.git
