* CONFIGURATION4.0
# ESRU system configuration defined by file 
# coupling.cfg
*date Fri Aug 24 15:46:43 2012  # latest file modification 
*root coupl_coef
*zonpth  ../zones                  # path to zones
*netpth  ../nets                   # path to networks
*ctlpth  ../ctl                    # path to controls
*aimpth ./                        # path to aim2 files
*radpth ./                        # path to radiance files
*imgpth  ../images                 # path to project images
*docpth  ../doc                    # path to project documents
*dbspth  ../dbs                    # path to local databases
*hvacpth ./                        # path to hvac files
*bsmpth ./                        # path to BASESIMP files
*indx    1 # Building only
 52.470   -1.600   # Latitude & Longitude (diff from time meridian)
      1   0.200   # Site exposure & ground reflectivity
* DATABASES
*mat  ../dbs/coupling.materialdb
*mlc  ../dbs/multicon.db
*opt  ../dbs/optics.db1
*stdprs  pressc.db1
*stdevn  profiles.db1.a
*stdclm  deu_berlin_iwec
*stdmscldb  mscomp.db1
*stdmould  mould.db1 # mould isopleths
*stdpdb  plantc.db1
*stdsbem  SBEM.db1
*slr_half_hr   0  # solar timing hour centred
*ctl  ../ctl/office.ctl
*contents ../doc/coupl_coef.contents
*seasons
*name	Berlin Germany IWEC 103840
*aide	Berlin Germany IWEC 103840 was sourced from US DoE
*winter_s  1  1 25  2 22 10 31 12 # seasons Mon-01-Jan--Sun-25-Feb & Mon-22-Oct--Mon-31-Dec
*spring_s 26  2 20  5 27  8 21 10 # seasons Mon-26-Feb--Sun-20-May & Mon-27-Aug--Sun-21-Oct
*summer_s 21  5 26  8 # summer season Mon-21-May--Sun-26-Aug
*winter_t 15  1 21  1 26 11  2 12 # typical Mon-15-Jan--Sun-21-Jan & Mon-26-Nov--Sun-02-Dec
*spring_t 30  4  6  5 24  9 30  9 # typical Mon-30-Apr--Sun-06-May & Mon-24-Sep--Sun-30-Sep
*summer_t  9  7 15  7 # typical summer Mon-09-Jul--Sun-15-Jul
*help_start
Climate is Berlin Germany IWEC 103840
 Location: 52.47N  1.60W : 2001
 Month    Minimum  Time          Maximum  Time         Mean
 Jan     -5.4 @ 4h00 Tue 23        8.9 @15h00 Mon  1     1.9
 Feb     -9.1 @ 7h00 Sun 18        9.3 @13h00 Mon  5     0.3
 Mar     -2.2 @ 4h00 Fri 30       15.2 @16h00 Thu  1     5.4
 Apr     -1.6 @ 5h00 Sat 21       19.3 @15h00 Sun 15     8.3
 May      2.3 @ 5h00 Wed  2       27.5 @17h00 Sun 27    14.0
 Jun      7.8 @ 4h00 Mon 18       32.8 @17h00 Tue  5    17.6
 Jul      9.4 @ 5h00 Thu 19       32.6 @16h00 Sat  7    19.1
 Aug      9.3 @ 5h00 Sat  4       29.3 @15h00 Wed 15    18.5
 Sep      6.9 @ 5h00 Sat 29       29.7 @15h00 Sat  1    15.0
 Oct     -1.6 @ 6h00 Fri 26       19.5 @14h00 Fri  5    10.2
 Nov     -3.2 @10h00 Fri 16       13.3 @ 4h00 Sat 24     4.4
 Dec     -5.1 @21h00 Fri 21       11.8 @17h00 Tue  4     2.4
 Annual  -9.1 @ 7h00 Sun 18 Feb   32.8 @17h00 Tue  5 Jun     9.8
Winter season is Mon  1 Jan - Sun 25 Feb
Typical winter week begins Mon 15 Jan
Spring season is Mon 26 Feb - Sun 20 May
Typical spring week begins Mon 30 Apr
Summer season is Mon 21 May - Sun 26 Aug
Typical summer week begins Mon  9 Jul
Autumn season is Mon 27 Aug - Sun 21 Oct
Typical autumn week begins Mon 24 Sep
Winter season is Mon 22 Oct - Mon 31 Dec
Typical winter week begins Mon 26 Nov
*season_end
*year  2001 # assessment year
*img GIF   FZON  ../images/case-st.gif
*imdoc no documentation (yet) for this image
*img GIF   FZON  ../images/sensor.gif
*imdoc no documentation (yet) for this image
*img GIF   FZON  ../images/calib.gif
*imdoc no documentation (yet) for this image
*img GIF   FZON  ../images/room-night.gif
*imdoc no documentation (yet) for this image
*img GIF   FZON  ../images/results.gif
*imdoc no documentation (yet) for this image
*rif  office.rcf
# Name and address of building
*B-NAME not yet defined
*B-ADDRESS not yet defined
*B-CITY not yet defined
*B-POSTCODE not yet defined
# Contact information for building owner
*O-NAME not yet defined
*O-ADDRESS not yet defined
*O-CITY not yet defined
*O-POSTCODE not yet defined
*O-TELEPHONE not yet defined
# Contact information for simulation team
*C-NAME not yet defined
*C-ADDRESS not yet defined
*C-CITY not yet defined
*C-POSTCODE not yet defined
*C-TELEPHONE not yet defined
* PROJ LOG
../doc/job.notes
* Building
Example for casual gain control - daylight linking control
      1  # no of zones
*zon   1   # reference for fac_zone_c1 
*opr ../zones/office.opr  # schedules
*geo ../zones/office.geo  # geometry
*con ../zones/office.con  # construction
*tmc ../zones/office.tmc  # transparent constr
*cgc ../zones/coupling.cgc # casual gn control
*zend 
*cnn coupling.cnn  # connections
   0   # no fluid flow network
