* CONFIGURATION3.0
# ESRU system configuration defined by file 
# bld_basic.cfg
*date Wed Dec 15 13:00:11 2004  # latest file modification 
*root bld_basic
*zonpth ../zones                  # path to zones
*netpth ../nets                   # path to networks
*ctlpth ../ctl                    # path to controls
*radpth ./                        # path to radiance files
*imgpth ../images                 # path to project images
*docpth ./                        # path to project documents
*dbspth ./                        # path to local databases
*indx    1 # Building only
 51.700   -0.500   # Latitude & Longitude (diff from meridian)
      2   0.200   # Site exposure & ground reflectivity
* DATABASES
*stdmat  material.db3.a
*stdmlc  multicon.db2
*stdopt  optics.db2
*stdprs  pressc.db1
*stdevn  profiles.db1.a
*stdclm  clm67
*stdpdb  plantc.db1
*year  1967 # assessment year
*img GIF   FZON  ../images/basic_montg.gif
*img GIF   FZON  ../images/foyer.gif
# prim energy conv (heat,cool,lights,fan,sml pwr,hot water)
*pecnv  1.250 3.600 3.600 3.600 3.600 1.250
*htemis   190.000    0.200    0.100 # heating emissions CO2,NOX,SOX
*clemis   612.000    2.060    7.500 # cooling emissions CO2,NOX,SOX
*ltemis   612.000    2.060    7.500 # lighting emissions CO2,NOX,SOX
*fnemis   612.000    2.060    7.500 # fan/pump emissions CO2,NOX,SOX
*spemis   612.000    2.060    7.500 # small power emissions CO2,NOX,SOX
*hwemis   190.000    0.200    0.100 # dhw emissions CO2,NOX,SOX
# sim setup: no. sets startup zone_ts plant_ts save_lv
*sps     5    3    1   10    2
   9   1  15   1  def      # period & name
*sblr bld_basic_def.res
*end_set
   9   1  15   1  win      # period & name
*sblr bld_basic_win.res
*end_set
   6   3  12   3  trn      # period & name
*sblr bld_basic_trn.res
*end_set
  11   7  17   7  sum      # period & name
*sblr bld_basic_sum.res
*end_set
   9   7  15   7  test     #Period and name 
*sblr results.bres
*end_set
*end_sps
* PROJ LOG
bld_basic.log
* Building
Basic 3 zone model.
      3  # no of zones
*zon   1   # reference for reception   
*opr ../zones/reception.opr  # schedules
*geo ../zones/reception.geo  # geometry
*con ../zones/reception.con  # construction
*tmc ../zones/reception.tmc  # transparent constr
*zend 
*zon   2   # reference for office      
*opr ../zones/office.opr  # schedules
*geo ../zones/office.geo  # geometry
*con ../zones/office.con  # construction
*tmc ../zones/office.tmc  # transparent constr
*zend 
*zon   3   # reference for roof_space  
*opr ../zones/roof_space.opr  # schedules
*geo ../zones/roof_space.geo  # geometry
*con ../zones/roof_space.con  # construction
*zend 
*cnn  bld_basic.cnn  # connections 
      0   # no fluid flow network
