* CONFIGURATION3.0
# ESRU system configuration defined by file 
# RectDoor2WindowsL.cfg
*date Monday, 9 of July 2007 0:0:0 # latest file modification
*root RectDoor2WindowsL
*zonpth ../zones/         # path to zones
*netpth ../nets         # path to networks
*ctlpth ../ctl/         # path to controls
*radpth ../rad         # path to radiance files
*imgpth ../images         # path to project images
*indx  1  # Building only
45.320  -0.670    # Latitude & Longitude (diff from meridian)
      2  0.200   # Site exposure & ground reflectivity
* DATABASES
*prm  /usr/esru/esp-r/databases/constr.db1
*mlc  /usr/esru/esp-r/databases/multicon.db1
*opt  /usr/esru/esp-r/databases/optics.db1
*prs  /usr/esru/esp-r/databases/pressc.db1
*evn  /usr/esru/esp-r/databases/profiles.db1
*clm  /usr/esru/esp-r/climate/CAN_ON_Toronto_CWEC
*pdb  /usr/esru/esp-r/databases/plantc.db1
*hvac  ../hvac/RectDoor2WindowsL.hvac
*aim  ../aim/RectDoor2WindowsL.aim
*ctl  ../ctl/RectDoor2WindowsL.ctl
*year  2000 # assessment year
# sim setup: no. sets startup zone_ts plant_ts save_lv
*sps     1     7     1     2     5
  1   1   7   1  test # period & name
*sblr RectDoor2WindowsL_def.res
*sipv silent
*selr RectDoor2WindowsL.eres
*end_set
*end_sps
* PROJ LOG
RectDoor2WindowsL.log
* Building
RectDoor2WindowsL 3 zone model.
      3  # no of zones
*zon   1  # reference for main
*opr ../zones/main.opr  # schedules
*geo ../zones/main.geo # geometry
*con ../zones/main.con  # construction
*bsm ../bsm/Foundation.bsm  # BASESIMP input
*tmc ../zones/main.tmc   # transparent constr
*zend
*zon   2  # reference for Foundation
*opr ../zones/Foundation.opr  # schedules
*geo ../zones/Foundation.geo # geometry
*con ../zones/Foundation.con  # construction
*bsm ../bsm/Foundation.bsm  # BASESIMP input
*zend
*zon   3  # reference for attic
*opr ../zones/attic.opr  # schedules
*geo ../zones/attic.geo # geometry
*con ../zones/attic.con  # construction
*zend
*cnn    ../cfg/RectDoor2WindowsL.cnn # connections
0   # no fluid flow network
