* CONFIGURATION3.0
# ESRU system configuration defined by file 
# cellular_contam_bc.cfg
*date Thu Aug 23 19:33:06 2007  # latest file modification 
*root cellular_contam_bc
*zonpth ../zones                  # path to zones
*netpth ../nets                   # path to networks
*ctlpth ../ctl                    # path to controls
*radpth ../rad                    # path to radiance files
*imgpth ../images                 # path to project images
*tmppth ../temp                   # path to project scratch folder
*docpth ../doc                    # path to project documents
*dbspth ../dbs                    # path to local databases
*indx    1 # Building only
 46.000    0.000   # Latitude & Longitude (diff from meridian)
      1   0.200   # Site exposure & ground reflectivity
* DATABASES
*prm  ../dbs/cellular.materials.a
*mlc  ../dbs/cellular.constrdb
*opt  /usr/esru/esp-r/databases/optics.db2
*prs  /usr/esru/esp-r/databases/pressc.db1
*evn  /usr/esru/esp-r/databases/profiles.db1
*clm  /usr/esru/esp-r/climate/clm67
*pdb  /usr/esru/esp-r/databases/plantc.db1
*slr_half_hr   0  # solar timing hour centred
*ctm  ../nets/cellular_src_bc.ctm
*calename standard weekday Sat & Sun
*calentag weekdays,weekdays (all year),259
*calentag saturday,Saturdays (all year), 53
*calentag sunday,Sundays (all year), 53
*list
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1, 
 1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3, 
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1, 
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1, 
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3
*end_list
*year  2000 # assessment year
*img GIF   ****  ../images/contam_afn.gif
*img GIF   FPER  ../images/base_case_contam.gif
# sim setup: no. sets startup zone_ts plant_ts save_lv @ each ts
*sps    1   3  12  10   4   0
   9   1  15   1  noctl    # period & name
*sblr cellular_contam_bc.res
*sflr cellular_contam_bc.mfr
*end_set
*end_sps
* PROJ LOG
cellular_offices_bc.log
* Building
contaminate bc model of two adjacent cellular offices
      3  # no of zones
*zon   1   # reference for manager_a   
*opr ../zones/manager_a.opr  # schedules
*geo ../zones/manager_a.geo  # geometry
*con ../zones/manager_a.con  # construction
*tmc ../zones/manager_a.tmc  # transparent constr
*zend 
*zon   2   # reference for manager_b   
*opr ../zones/manager_b.opr  # schedules
*geo ../zones/manager_b.geo  # geometry
*con ../zones/manager_b.con  # construction
*tmc ../zones/manager_b.tmc  # transparent constr
*zend 
*zon   3   # reference for coridor     
*opr ../zones/coridor.opr  # schedules
*geo ../zones/coridor.geo  # geometry
*con ../zones/coridor.con  # construction
*tmc ../zones/coridor.tmc  # transparent constr
*zend 
*cnn  cellular_contam_bc.cnn  # connections 
      1   # fluid flow network:  
../nets/cellular_src_bc.afn    # leakage description
 1,2,3
