'V13.0'                                 'lowest applicable Forcheck release'
'gfortran' 'F95'                        'GNU Fortran 4.5'
32 1                                    'no of bits for def.int., mxdif'
32                                      'no of bits for integer pointer'
1 8  2 16  4 32  8 0                    'mxintb'
    24    53     0     0                'significant binary digits of reals'
     6    15     0     0                'decimal precision of reals'
    37   307     0     0                'decimal exponent range of reals'
   128  1024     0     0                'maximum exponent of reals'
  -126 -1022     0     0                'minimum exponent of reals'
1.1755-38                               'eps'
2147483647                              'maximum length of character data'
'I' 'R' 'C' 'L' 'S' 'R' 'C' 'I' '?'     'type codes'
4 4 8 4 1 8 16 1 4                      'default type lengths'
2 4 8 2                                 'lengths with length option off'
4 8 8 4                                 'lengths with length option on'
2 4 8 0  4 8 0 0  8 16 0 0  1 2 4 0     'allowed data type lengths'
2 4 8 0  4 8 0 0  8 16 0 0  1 2 4 0     'idem, for generic functions'
1 4  2 8  3 1  5 2                      'integer kinds       '
1 4  2 8  0 0  0 0                      'real kinds          '
1 8  2 16 0 0  0 0                      'complex kinds       '
1 4  2 8  3 1  5 2                      'logical kinds       '
1 1  0 0  0 0  0 0                      'character kinds     '
'f' ' ' ' '                             'def.file ext.: src,incl.;LIST opt.del.'
0  0                                    'max.number of cont.lines'
0  0  0                                 'mxnml, mxenl, mxcml'
'#' ' '                                 'compiler directive strings'
'&' '&'                                 'free-form cont.char.'
'C' ' '                                 '1st column free-form comment char'
1                                       'lower case characters'
31  2                                   'Debug lines'
32  4                                   'tabs'
