* CONFIGURATION3.0
# ESRU system configuration defined by file 
# displ_vent.cfg
*date Mon May 28 16:46:02 2007  # latest file modification 
*root displ_vent
*zonpth ../zones                  # path to zones
*netpth ../nets                   # path to networks
*ctlpth ../ctl                    # path to controls
*radpth ../rad                    # path to radiance files
*imgpth ../images                 # path to project images
*tmppth ./                        # path to project scratch folder
*docpth ./                        # path to project documents
*dbspth ./                        # path to local databases
*indx    1 # Building only
 51.700   -0.500   # Latitude & Longitude (diff from meridian)
      2   0.200   # Site exposure & ground reflectivity
* DATABASES
*prm  /usr/esru/esp-r/databases/constr.db1
*mlc  /usr/esru/esp-r/databases/multicon.db1
*opt  /usr/esru/esp-r/databases/optics.db1
*prs  /usr/esru/esp-r/databases/pressc.db1
*evn  /usr/esru/esp-r/databases/profiles.db1
*clm  /usr/esru/esp-r/climate/clm67
*pdb  /usr/esru/esp-r/databases/plantc.db1
*slr_half_hr   0  # solar timing hour centred
*ctl  ../ctl/displ_vent.ctl
*year  1999 # assessment year
*img GIF   ****  ../images/office.gif
* PROJ LOG
displ_vent.log
* Building
Base case three zone model.
      3  # no of zones
*zon   1   # reference for reception   
*opr ../zones/reception.opr  # schedules
*geo ../zones/reception.geo  # geometry
*con ../zones/reception.con  # construction
*tmc ../zones/reception.tmc  # transparent constr
*zend 
*zon   2   # reference for office      
*opr ../zones/office.opr  # schedules
*geo ../zones/office.geo  # geometry
*con ../zones/office.con  # construction
*cfd ../zones/office.dfd  # cfd domain
*zend 
*zon   3   # reference for roof_space  
*opr ../zones/roof_space.opr  # schedules
*geo ../zones/roof_space.geo  # geometry
*con ../zones/roof_space.con  # construction
*zend 
*cnn  displ_vent.cnn  # connections 
      0   # no fluid flow network
