* CONFIGURATION4.0              # ESP-r model configuration V4
*date Wed Sep  8 13:45:50 2021  # latest file modification
*root bld_simple_shd
*zonpth ../zones                # path to zone files
*netpth ./                      # path to network files
*ctlpth ../ctl                  # path to control files
*mscpth ../msc                  # path to miscel. files
*radpth ./                      # path to radiance files
*imgpth ../images               # path to project images
*docpth ../doc                  # path to project documents
*dbspth ../dbs                  # path to local databases
*tmppth ../tmp                  # path to temporary files
*radcore  1                     # cores available to Radiance
*indx    1                      # building only
 51.700   -0.500                # latitude & longitude difference (from reference meridian)
      2   0.250                 # site exposure & ground reflectivity
* DATABASES
*stdmat material.db
*stdcfcdb CFClayers.db1.a
*stdmlc multicon.db
*stdopt optics.db
*stdprs pressc.db1
*stdevn profiles.db2.a
*stdclm clm67
*stdmscldb mscomp.db1
*stdmould  mould.db1
*stdpdb plantc.db1
*stdsbem SBEM.db1
*stdpredef predefined.db1
*slr_half_hr  0                                 # solar data hour centred
*sitealt    0.0
*quick_run  0                                   # no
*ctl ../ctl/bld_simple.ctl                      # building/system control file
*contents ../doc/bld_simple_shd.contents
*vew    -80.0  -100.0   100.0     4.4     4.4     1.5 40.0
*seasons 
*name 	Default UK clm Climate
*aide 	Climate data as distributed with ESP-r for testing purposes.
*winter_s   2  1 12  3 30 10 31 12              # winter season Mon-02-Jan--Sun-12-Mar & Mon-30-Oct--Sun-31-Dec
*spring_s  13  3 14  5  4  9 29 10              # spring season Mon-13-Mar--Sun-14-May & Mon-04-Sep--Sun-29-Oct
*summer_s  15  5  3  9                          # summer season Mon-15-May--Sun-03-Sep
*winter_t   6  2 12  2 20 11 26 11              # winter typical Mon-06-Feb--Sun-12-Feb & Mon-20-Nov--Sun-26-Nov
*spring_t  17  4 23  4  2 10  8 10              # spring typical Mon-17-Apr--Sun-23-Apr & Mon-02-Oct--Sun-08-Oct
*summer_t   3  7  9  7                          # summer typical Mon-03-Jul--Sun-09-Jul
*season_end
*year 1967                                      # assessment year
*water_in_zones  0.6  998.2 4190.0    0.0       # water cond, density, spec heat, shortwave abs
*img GIF   FZON  ../images/obstructions.gif
*imdoc a number of obstructions have been defined in front of the building
*img GIF   FZON  ../images/shading.gif
*imdoc the pattern of shading as predicted by Radiance
*img GIF   ****  ../images/bld_simple_shd_wire2.gif
*imdoc A variety of shading obstructions are shown comprising general polygon shapes.
# prim energy conv (heat,cool,lights,fan,sml pwr,hot water)
*pecnv  1.250 3.600 3.600 3.600 3.600 1.250
*htemis   190.000    0.200    0.100  # heating emissions CO2,NOX,SOX
*clemis   612.000    2.060    7.500  # cooling emissions CO2,NOX,SOX
*ltemis   612.000    2.060    7.500  # lighting emissions CO2,NOX,SOX
*fnemis   612.000    2.060    7.500  # fan/pump emissions CO2,NOX,SOX
*spemis   612.000    2.060    7.500  # small power emissions CO2,NOX,SOX
*hwemis   190.000    0.200    0.100  # DHW emissions CO2,NOX,SOX
*sps    1   2   1  10   2   0        # parameter sets, default startup, zone & plant ts, save level & frequency
    9   1  15   1  test              # startup, zone & plant ts, save level, @ ts, period start DM & end DM
*sblr bld_simple_shd.res
*end_set
*end_sps
* PROJ LOG
../doc/bld_simple_shd.log
* Building
L-shaped reception, external shading, convective heating, ideal control
      1                                         # number of zones
*zon   1                                        # reference for reception
*opr ../zones/reception.opr                     # schedules
*geo ../zones/reception_shd.geo                 # geometry
*con ../zones/reception.con                     # constructions
*isi ../zones/reception.shd                     # pre-constructed S/I file
*zend 
*cnn bld_simple_shd.cnn                         # surface connections file
   0                                            # no fluid flow network
