* CONFIGURATION3.0
# ESRU system configuration defined by file 
# plt_multizone_gain_test.cfg
*date Fri Aug  5 15:27:32 2005  # latest file modification 
*root plt_zone_gain_test
*zonpth ../zones                  # path to zones
*netpth ../nets                   # path to networks
*ctlpth ../ctl                    # path to controls
*radpth ../rad                    # path to radiance files
*imgpth ../images                 # path to project images
*tmppth ../temp                   # path to project scratch folder
*docpth ../doc                    # path to project documents
*dbspth ../dbs                    # path to local databases
*indx    1 # Building & Plant
 50.000    0.000   # Latitude & Longitude (diff from meridian)
      1   0.200   # Site exposure & ground reflectivity
* DATABASES
*mat  /usr/esru/esp-r/databases/constr.db2.a
*mlc  /usr/esru/esp-r/databases/multicon.db2
*opt  /usr/esru/esp-r/databases/optics.db2
*prs  /usr/esru/esp-r/databases/pressc.db1
*evn  /usr/esru/esp-r/databases/profiles.db1.a
*clm  /usr/esru/esp-r/climate/clm67
*pdb /usr/esru/esp-r/databases/plantc.db1
*ctl  ../ctl/plt_zone_gain_test.ctl
*year  1999 # assessment year
*ipv  ipvfile.ipv
# sim setup: no. sets startup zone_ts plant_ts save_lv
*sps     4    3   12    1    5
   9   1  15   1  win      # period & name
*sblr results.bres
*splr results.pres
*end_set
  11   7  17   7  sum      # period & name
*sblr results.bres
*splr results.pres
*end_set
 15   1   21   1   test     # period & name
*sblr results.bres
*splr results.pres
*end_set
   1   1  31  12  full     # period & name
*sblr results.bres
*splr results.pres
*end_set
*end_sps
* PROJ LOG
plt_zone_gain_test.log
* Building
Test case exercising plant->zone containment heat injection
      2  # no of zones
*zon   1   # reference for Zone_1      
*opr ../zones/Zone_1.opr  # schedules
*geo ../zones/Zone_1.geo  # geometry
*con ../zones/Zone_1.con  # construction
*zend 
*zon   2   # reference for Zone_2      
*opr ../zones/Zone_2.opr  # schedules
*geo ../zones/Zone_2.geo  # geometry
*con ../zones/Zone_2.con  # construction
*zend 
*cnn  plt_zone_gain_test.cnn  # connections 
      0   # no fluid flow network

