* CONFIGURATION3.0
# ESRU system configuration defined by file 
# stirling_dynamic.cfg
*date Tue Jul  5 10:08:05 2005  # latest file modification 
*root stirling_dynamic
*zonpth ../zones                  # path to zones
*netpth ../nets                   # path to networks
*ctlpth ../ctl                    # path to controls
*radpth ../rad                    # path to radiance files
*imgpth ../images                 # path to project images
*tmppth ../temp                   # path to project scratch folder
*docpth ../doc                    # path to project documents
*dbspth ../dbs                    # path to local databases
*indx    2 # Plant-only
 50.000    0.000   # Latitude & Longitude (diff from meridian)
      1   0.200   # Site exposure & ground reflectivity
* DATABASES
*prm  /usr/esru/esp-r/databases/constr.db2
*mlc  /usr/esru/esp-r/databases/multicon.db2
*opt  /usr/esru/esp-r/databases/optics.db2
*prs  /usr/esru/esp-r/databases/pressc.db1
*evn  /usr/esru/esp-r/databases/profiles.db1
*clm  /usr/esru/esp-r/climate/clm67
*bcd ../dbs/bcd_definitions.bcd
*pdb  /usr/esru/esp-r/databases/plantc.db1
*ctl  ../ctl/ctl.ctl
*year  1999 # assessment year
# sim setup: no. sets startup zone_ts plant_ts save_lv
*sps     2    2   60    1    5
   1   1  31  12  tran     # period & name
*sblr res.bres
*splr res.pres
*end_set
   1   1   5   1  test    # period & name
*sblr res.bres
*splr res.pres
*end_set
*end_sps
* PROJ LOG
stirling_dynamic.log
* Plant
../nets/BCD_definitions.pln       # plant network description
