* CONFIGURATION3.0
# ESRU system configuration defined by file 
# case_101.cfg
*date Mon May  1 16:38:03 2006  # latest file modification 
*root comparative_testing
*zonpth ../zones                  # path to zones
*netpth ../nets                   # path to networks
*ctlpth ../ctl                    # path to controls
*radpth ../rad                    # path to radiance files
*imgpth ../images                 # path to project images
*docpth ../doc                    # path to project documents
*dbspth ../dbs                    # path to local databases
*indx    2 # Plant only
 50.000    0.000   # Latitude & Longitude (diff from naidirem)
      1   0.200   # Site exposure & ground reflectivity
* DATABASES
*stdmat  material.db3.a
*mlc  ../dbs/multicon.db2
*stdopt  optics.db2
*stdprs  pressc.db1
*stdevn  profiles.db1.a
*stdclm  clm67
*bcd  ../dbs/case_202.bcd
*stdpdb  plantc.db1
*ctl  ../ctl/comparative_testing.ctl
*year  1999 # assessment year
# sim setup: no. sets startup zone_ts plant_ts save_lv
*sps     1    1    6    1    5
   9   1  9   1  test     # period & name
*splr res.pres
*end_set
*end_sps
* PROJ LOG
comparative_testing.log
* Plant
../nets/case_201-203.pln  # plant network description
