* CONFIGURATION4.0
# ESRU system configuration defined by file 
# bld_basic_gb3.cfg
*date Sun Jun 23 19:56:07 2013  # latest file modification 
*root bld_basic_gb3
*zonpth  ../zones                  # path to zones
*netpth  ../nets                   # path to networks
*ctlpth  ../ctl                    # path to controls
*aimpth ./                        # path to aim2 files
*radpth ./                        # path to radiance files
*imgpth  ../images                 # path to project images
*docpth  ../doc                    # path to project documents
*dbspth  ../dbs                    # path to local databases
*hvacpth ./                        # path to hvac files
*bsmpth ./                        # path to BASESIMP files
*indx    1 # Building only
 51.700   -0.500   # Latitude & Longitude (diff from time meridian)
      2   0.200   # Site exposure & ground reflectivity
* DATABASES
*stdmat  material.db3.a
*stdmlc  multicon.db3
*stdopt  optics.db2
*stdprs  pressc.db1
*stdevn  profiles.db1.a
*stdclm  clm67
*stdmscldb  mscomp.db1
*stdmould  mould.db1 # mould isopleths
*stdpdb  plantc.db1
*stdsbem  SBEM.db1
*slr_half_hr   0  # solar timing hour centred
*ctl  ../ctl/bld_basic_gb3.ctl
*contents ../doc/bld_basic_gb3.contents
*seasons
*name	Default UK clm Climate
*aide	Climate data as distributed with ESP-r for testing purposes.
*winter_s  2  1 12  3 30 10 31 12 # seasons Mon-02-Jan--Sun-12-Mar & Mon-30-Oct--Sun-31-Dec
*spring_s 13  3 14  5  4  9 29 10 # seasons Mon-13-Mar--Sun-14-May & Mon-04-Sep--Sun-29-Oct
*summer_s 15  5  3  9 # summer season Mon-15-May--Sun-03-Sep
*winter_t  6  2 12  2 20 11 26 11 # typical Mon-06-Feb--Sun-12-Feb & Mon-20-Nov--Sun-26-Nov
*spring_t 17  4 23  4  2 10  8 10 # typical Mon-17-Apr--Sun-23-Apr & Mon-02-Oct--Sun-08-Oct
*summer_t  3  7  9  7 # typical summer Mon-03-Jul--Sun-09-Jul
*help_start
Location is 52.0N and 0.0E. The solar radiation is Direct Normal.
 Month       Minimum  Time           Maximum  Time         Mean
 Jan          -6.4 @20h00 Sun  8    12.7 @14h00 Sun 29     3.8
 Feb          -1.9 @ 5h00 Tue 14    12.2 @13h00 Thu  2     5.2
 Mar          -0.8 @24h00 Fri 31    16.1 @15h00 Tue 21     6.8
 Apr          -1.9 @ 2h00 Sat  1    19.4 @15h00 Mon 17     7.1
 May           0.0 @ 3h00 Wed  3    22.7 @14h00 Thu 11    10.4
 Jun           5.0 @ 2h00 Fri  9    21.1 @15h00 Tue  6    13.6
 Jul           9.4 @ 3h00 Mon  3    27.7 @12h00 Mon 17    18.0
 Aug           7.7 @ 4h00 Sat  5    24.4 @12h00 Tue  1    15.6
 Sep           5.0 @ 6h00 Thu 21    22.2 @12h00 Tue 26    13.5
 Oct           2.2 @ 5h00 Mon 30    19.4 @13h00 Sat  7    10.8
 Nov          -0.8 @ 5h00 Mon 27    14.4 @14h00 Sat 11     5.2
 Dec          -4.2 @ 1h00 Sat  9    12.7 @ 9h00 Sat 23     3.8
 All   -6.4 @20h00 Sun  8 Jan  27.7 @12h00 Mon 17 Jul   9.5
 Typical winter week begins Monday 6 Feb,
 Typical spring week begins Monday 17 April,
 Typical summer week begins Monday 3 July.
 Typical autumn week begins Monday 2 October.
 Typical winter week begins Monday 20 November,
*season_end
*year  1967 # assessment year
*img GIF   FZON  ../images/basic_montg.gif
*imdoc no documentation (yet) for this image
*img GIF   FCTL  ../images/global3_ctl.gif
*imdoc no documentation (yet) for this image
# prim energy conv (heat,cool,lights,fan,sml pwr,hot water)
*pecnv  1.250 3.600 3.600 3.600 3.600 1.250
*htemis   190.000    0.200    0.100 # heating emissions CO2,NOX,SOX
*clemis   612.000    2.060    7.500 # cooling emissions CO2,NOX,SOX
*ltemis   612.000    2.060    7.500 # lighting emissions CO2,NOX,SOX
*fnemis   612.000    2.060    7.500 # fan/pump emissions CO2,NOX,SOX
*spemis   612.000    2.060    7.500 # small power emissions CO2,NOX,SOX
*hwemis   190.000    0.200    0.100 # dhw emissions CO2,NOX,SOX
# sim setup: no. sets startup zone_ts plant_ts save_lv @ each ts
*sps    1   3   1  10   2   0
   9   1  15   1  def      # period & name
*sblr bld_basic_gb3_def.res
*end_set
*end_sps
# Name and address of building
*B-NAME not yet defined
*B-ADDRESS not yet defined
*B-CITY not yet defined
*B-POSTCODE not yet defined
# Contact information for building owner
*O-NAME not yet defined
*O-ADDRESS not yet defined
*O-CITY not yet defined
*O-POSTCODE not yet defined
*O-TELEPHONE not yet defined
# Contact information for simulation team
*C-NAME not yet defined
*C-ADDRESS not yet defined
*C-CITY not yet defined
*C-POSTCODE not yet defined
*C-TELEPHONE not yet defined
* PROJ LOG
../doc/bld_basic_gb3.log
* Building
Basic 3 zone model with global phasing control.
      3  # no of zones
*zon   1   # reference for reception   
*opr ../zones/reception.opr  # schedules
*geo ../zones/reception.geo  # geometry
*con ../zones/reception.con  # construction
*tmc ../zones/reception.tmc  # transparent constr
*zend 
*zon   2   # reference for office      
*opr ../zones/office.opr  # schedules
*geo ../zones/office.geo  # geometry
*con ../zones/office.con  # construction
*tmc ../zones/office.tmc  # transparent constr
*zend 
*zon   3   # reference for roof_space  
*opr ../zones/roof_space.opr  # schedules
*geo ../zones/roof_space.geo  # geometry
*con ../zones/roof_space.con  # construction
*zend 
*cnn bld_basic_gb3.cnn  # connections
   0   # no fluid flow network
