* CONFIGURATION4.0
# ESRU system configuration defined by file 
# mvhr_testsa.cfg
*date Tue Oct 22 14:37:05 2013  # latest file modification 
*root mvhr_testsa
*zonpth  ../zones                  # path to zones
*netpth  ../nets                   # path to networks
*ctlpth  ../ctl                    # path to controls
*aimpth ../aim2                   # path to aim2 files
*radpth ../rad                    # path to radiance files
*imgpth  ../images                 # path to project images
*docpth  ../doc                    # path to project documents
*dbspth  ../dbs                    # path to local databases
*hvacpth ../hvac                   # path to hvac files
*bsmpth ../bsm                    # path to BASESIMP files
*indx    3 # Building & Plant
 55.900   -4.100   # Latitude & Longitude (diff from time meridian)
      1   0.200   # Site exposure & ground reflectivity
* DATABASES
*stdmat  material.db3.a
*stdcfcdb  CFClayers.db1.a
*mlc  ../dbs/mvhr_test.constrdb
*stdopt  optics.db2
*stdprs  pressc.db1
*stdevn  profiles.db2.a
*stdclm  clm67
*stdmscldb  mscomp.db1
*stdmould  mould.db1 # mould isopleths
*stdpdb  plantc.db1
*stdsbem  SBEM.db1
*slr_half_hr   0  # solar timing hour centred
*quick_run   0  # no
*ctl  ../ctl/mvhr_test2ac.ctl
*contents ../doc/mvhr_testsac.contents
*calename standard weekday Sat & Sun
*calentag weekdays, weekdays (all year), 261
*calentag saturday, Saturdays (all year),  52
*calentag sunday, Sundays (all year),  52
*list    3
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1, 
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1, 
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1, 
 1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1, 
 1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3, 
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1
*end_list
*year  2007 # assessment year
*img GIF   ****  ../images/wire_of_mvhr.jpg
*imdoc Each of four zones represents fresh air differently
*img GIF   ****  ../images/mvhr_layout.jpg
*imdoc Zone man_explic takes air from right mvhr zones and extracts via left
*img GIF   FPER  ../images/four_room_air_temps.jpg
*imdoc temperatures in each of the zones (note control logic differs slightly)
*img GIF   FPER  ../images/temps_in_heat_exchanger_zones.jpg
*imdoc the six zones which make up the heat exchanger - temperatures show the pattern as air moves into and out of the exchanger
*img GIF   FPER  ../images/heating_demands_vs_approach.jpg
*imdoc the manager (w/o mvhr) has highest heating other zones close to each other (fine tuning required)
# sim setup: no. sets startup zone_ts plant_ts save_lv @ each ts
*sps    1   3  60   1   4   0
   1   2  10   2  febr     # period & name
*sblr mvhr_testsac.res
*sflr mvhr_testsac.mfr
*splr mvhr_testsac.plr
*end_set
*end_sps
# Name and address of building
*B-NAME not yet defined
*B-ADDRESS not yet defined
*B-CITY not yet defined
*B-POSTCODE not yet defined
# Contact information for building owner
*O-NAME not yet defined
*O-ADDRESS not yet defined
*O-CITY not yet defined
*O-POSTCODE not yet defined
*O-TELEPHONE not yet defined
# Contact information for simulation team
*C-NAME not yet defined
*C-ADDRESS not yet defined
*C-CITY not yet defined
*C-POSTCODE not yet defined
*C-TELEPHONE not yet defined
* PROJ LOG
../doc/mvhr_test.log
* Building
tests of different approaches to MVHR
     12  # no of zones
*zon   1   # reference for manager     
*opr ../zones/manager.opr  # schedules
*geo ../zones/manager.geo  # geometry
*con ../zones/manager.con  # construction
*tmc ../zones/manager.tmc  # transparent constr
*zend 
*zon   2   # reference for man_redinf  
*opr ../zones/man_redinf.opr  # schedules
*geo ../zones/man_redinf.geo  # geometry
*con ../zones/man_redinf.con  # construction
*tmc ../zones/man_redinf.tmc  # transparent constr
*zend 
*zon   3   # reference for man_explic  
*opr ../zones/man_explic.opr  # schedules
*geo ../zones/man_explic.geo  # geometry
*con ../zones/man_explic.con  # construction
*tmc ../zones/man_explic.tmc  # transparent constr
*zend 
*zon   4   # reference for man_plt     
*opr ../zones/man_plt.opr  # schedules
*geo ../zones/man_plt.geo  # geometry
*con ../zones/man_plt.con  # construction
*tmc ../zones/man_plt.tmc  # transparent constr
*zend 
*zon   5   # reference for mvhr_left   
*opr ../zones/mvhr_left.opr  # schedules
*geo ../zones/mvhr_left.geo  # geometry
*con ../zones/mvhr_left.con  # construction
*ihc ../zones/mvhr_left.htc  # convective hc coef
*zend 
*zon   6   # reference for mvhr_right  
*opr ../zones/mvhr_right.opr  # schedules
*geo ../zones/mvhr_right.geo  # geometry
*con ../zones/mvhr_right.con  # construction
*ihc ../zones/mvhr_right.htc  # convective hc coef
*zend 
*zon   7   # reference for zero        
*opr ../zones/zero.opr  # schedules
*geo ../zones/zero.geo  # geometry
*con ../zones/zero.con  # construction
*zend 
*zon   8   # reference for exhaust     
*opr ../zones/exhaust.opr  # schedules
*geo ../zones/exhaust.geo  # geometry
*con ../zones/exhaust.con  # construction
*zend 
*zon   9   # reference for mvhr_lefta  
*opr ../zones/mvhr_lefta.opr  # schedules
*geo ../zones/mvhr_lefta.geo  # geometry
*con ../zones/mvhr_lefta.con  # construction
*ihc ../zones/mvhr_lefta.htc  # convective hc coef
*zend 
*zon  10   # reference for mvhr_righta 
*opr ../zones/mvhr_righta.opr  # schedules
*geo ../zones/mvhr_righta.geo  # geometry
*con ../zones/mvhr_righta.con  # construction
*ihc ../zones/mvhr_righta.htc  # convective hc coef
*zend 
*zon  11   # reference for mvhr_leftb  
*opr ../zones/mvhr_leftb.opr  # schedules
*geo ../zones/mvhr_leftb.geo  # geometry
*con ../zones/mvhr_leftb.con  # construction
*ihc ../zones/mvhr_leftb.htc  # convective hc coef
*zend 
*zon  12   # reference for mvhr_rightb 
*opr ../zones/mvhr_rightb.opr  # schedules
*geo ../zones/mvhr_rightb.geo  # geometry
*con ../zones/mvhr_rightb.con  # construction
*ihc ../zones/mvhr_rightb.htc  # convective hc coef
*zend 
*cnn mvhr_tests.cnn  # connections
   1   # fluid flow network:
../nets/mvhr_test2a.afn    # leakage description
 manager,man_redinf,man_explic,man_plt,mvhr_left,mvhr_right,zero,exhaust,mvhr_lefta,mvhr_righta,mvhr_leftb,mvhr_rightb
* Plant
../nets/mvhr_test2.pln  # plant network description
