* CONFIGURATION4.0
# ESRU system configuration defined by file 
# trombe_wall_office_crack.cfg
*date Thu Nov 26 16:11:55 2009  # latest file modification 
*root trombe_wall_office_cr
*zonpth ../zones                  # path to zones
*netpth ../nets                   # path to networks
*ctlpth ../ctl                    # path to controls
*aimpth ./                        # path to aim2 files
*radpth ../rad                    # path to radiance files
*imgpth ../images                 # path to project images
*tmppth ../tmp                    # path to project scratch folder
*docpth ../doc                    # path to project documents
*dbspth ../dbs                    # path to local databases
*hvacpth ./                        # path to hvac files
*bsmpth ./                        # path to BASESIMP files
*indx    1 # Building only
 55.900   -4.100   # Latitude & Longitude (diff from time meridian)
      1   0.200   # Site exposure & ground reflectivity
* DATABASES
*mat  ../dbs/trombe_wall_office.materialdb
*mlc  ../dbs/trombe_wall_office.constrdb
*stdopt  optics.db2
*stdprs  pressc.db1
*stdevn  profiles.db2.a
*clm  /usr/esru/esp-r/climate/clm67
*stdmscldb  mscomp.db1
*stdpdb  plantc.db1
*stdsbem  SBEM.db1
*slr_half_hr   0  # solar timing hour centred
*calename standard weekday Sat & Sun
*calentag weekdays, weekdays (all year), 261
*calentag saturday, Saturdays (all year),  52
*calentag sunday, Sundays (all year),  52
*list    3
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1, 
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1, 
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1, 
 1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1, 
 1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3, 
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1
*end_list
*year  2007 # assessment year
*img GIF   ****  ../images/trombe_wire_cracks.gif
*imdoc The flow network allows for stratification in the facade and optionally dampers between facade and room.
# sim setup: no. sets startup zone_ts plant_ts save_lv @ each ts
*sps    2  12  10  10   4   0
   1   1  15   2  winter   # period & name
*sblr trombe_wall_office_d.res
*sflr trome_wall_office_d.mfr
*end_set
   1   1   5   1  win3     # period & name
*sblr trombe_wall_officewin3d.res
*sflr trombe_wall_officewin3d.mfr
*end_set
*end_sps
# Address of building, owner and certifier
*B-NAME      not yet defined
*B-ADDRESS   not yet defined
*B-CITY      not yet defined
*B-POSTCODE  not yet defined
*O-NAME      not yet defined
*O-ADDRESS   not yet defined
*O-CITY      not yet defined
*O-POSTCODE  not yet defined
*O-TELEPHONE not yet defined
*C-NAME      not yet defined
*C-ADDRESS   not yet defined
*C-CITY      not yet defined
*C-POSTCODE  not yet defined
*C-TELEPHONE not yet defined
* PROJ LOG
trombe_wall_office.log
* Building
Office with clear story window & TM wall & small dampers
      6  # no of zones
*zon   1   # reference for trombe_low  
*opr ../zones/trombe.opr  # schedules
*geo ../zones/trombe_low.geo  # geometry
*con ../zones/trombe_low.con  # construction
*tmc ../zones/trombe_low.tmc  # transparent constr
*isi ../zones/trombe_low.shd  # shading db 
*zend 
*zon   2   # reference for trombe_mid  
*opr ../zones/trombe.opr  # schedules
*geo ../zones/trombe_mid.geo  # geometry
*con ../zones/trombe_mid.con  # construction
*tmc ../zones/trombe_mid.tmc  # transparent constr
*isi ../zones/trombe_mid.shd  # shading db 
*zend 
*zon   3   # reference for trombe_mid2 
*opr ../zones/trombe.opr  # schedules
*geo ../zones/trombe_mid2.geo  # geometry
*con ../zones/trombe_mid2.con  # construction
*tmc ../zones/trombe_mid2.tmc  # transparent constr
*isi ../zones/trombe_mid2.shd  # shading db 
*zend 
*zon   4   # reference for trombe_up   
*opr ../zones/trombe.opr  # schedules
*geo ../zones/trombe_up.geo  # geometry
*con ../zones/trombe_up.con  # construction
*tmc ../zones/trombe_up.tmc  # transparent constr
*isi ../zones/trombe_up.shd  # shading db 
*zend 
*zon   5   # reference for bypass      
*opr ../zones/trombe.opr  # schedules
*geo ../zones/bypass.geo  # geometry
*con ../zones/bypass.con  # construction
*tmc ../zones/bypass.tmc  # transparent constr
*zend 
*zon   6   # reference for office      
*opr ../zones/office.opr  # schedules
*geo ../zones/office.geo  # geometry
*con ../zones/office.con  # construction
*zend 
*cnn trombe_wall_office_cr.cnn  # connections
   1   # fluid flow network:
../nets/trombe_wall_office_v_small.afn    # leakage description
 trombe_low,trombe_mid,trombe_mid2,trombe_up,bypass,office
