* CONFIGURATION3.0
# ESRU system configuration defined by file 
# RectDoor3WindowsL.cfg
*date Monday, 9 of July 2007 0:0:0 # latest file modification
*root RectDoor3WindowsL
*zonpth ../zones/         # path to zones
*netpth ../nets         # path to networks
*ctlpth ../ctl/         # path to controls
*radpth ../rad         # path to radiance files
*imgpth ../images         # path to project images
*indx  1  # Building only
45.320  -0.670    # Latitude & Longitude (diff from meridian)
      2  0.200   # Site exposure & ground reflectivity
* DATABASES
*mat  ../dbs/constr_db3.materialdb
*mlc  ../dbs/multicon.db2
*stdopt  optics.db2
*stdprs  pressc.db1
*stdevn  profiles.db1
*stdclm  CAN_ON_Toronto_CWEC
*stdpdb  plantc.db1
*hvac  ../hvac/RectDoor3WindowsL.hvac
*dhw  ../hvac/RectDoor3WindowsL.Dhw
*aim  ../aim/RectDoor3WindowsL.aim
*ctl  ../ctl/RectDoor3WindowsL.ctl
*year  2000 # assessment year
# sim setup: no. sets startup zone_ts plant_ts save_lv
*sps     1     7     1     4     5
  1   1   7   1  test # period & name
*sblr RectDoor3WindowsL_def.res
*sipv silent
*selr RectDoor3WindowsL.eres
*end_set
*end_sps
* PROJ LOG
RectDoor3WindowsL.log
* Building
RectDoor3WindowsL 3 zone model.
      3  # no of zones
*zon   1  # reference for main
*opr ../zones/main.opr  # schedules
*geo ../zones/main.geo # geometry
*con ../zones/main.con  # construction
*bsm ../bsm/Foundation.bsm  # BASESIMP input
*tmc ../zones/main.tmc   # transparent constr
*zend
*zon   2  # reference for Foundation
*opr ../zones/Foundation.opr  # schedules
*geo ../zones/Foundation.geo # geometry
*con ../zones/Foundation.con  # construction
*bsm ../bsm/Foundation.bsm  # BASESIMP input
*zend
*zon   3  # reference for attic
*opr ../zones/attic.opr  # schedules
*geo ../zones/attic.geo # geometry
*con ../zones/attic.con  # construction
*zend
*cnn    ../cfg/RectDoor3WindowsL.cnn # connections
0   # no fluid flow network
