* CONFIGURATION4.0
# ESRU system configuration defined by file 
# ccht-elec-gain-into-zone2.15.cfg
*date Thu Mar 14 09:32:05 2013  # latest file modification 
*root ccht_basic2.15
*zonpth  ../zones                  # path to zones
*netpth  ../nets                   # path to networks
*ctlpth  ../ctl                    # path to controls
*aimpth ./                        # path to aim2 files
*radpth ../rad                    # path to radiance files
*imgpth  ../images                 # path to project images
*docpth  ./                        # path to project documents
*dbspth  ./                        # path to local databases
*hvacpth ./                        # path to hvac files
*bsmpth ./                        # path to BASESIMP files
*indx    1 # Building only
 50.000    0.000   # Latitude & Longitude (diff from time meridian)
      6   0.200   # Site exposure & ground reflectivity
* DATABASES
*stdmat  ccht_material.ascii
*stdmlc  ccht_constr.db1
*stdopt  ccht-optics.db1
*stdprs  pressc.db1
*stdevn  profiles.db2.a
*stdclm  can_ottawa
*stdmscldb  mscomp.db1
*stdmould  mould.db1 # mould isopleths
*stdpdb  plantc.db1
*stdsbem  SBEM.db1
*slr_half_hr   0  # solar timing hour centred
*ctl  ../ctl/ccht-elec-gain-into-zone.ctl
*contents ccht_basic2.15.contents
*seasons
*name	Ottawa CWEC 1997 IWMO 716280
*aide	Ottawa 1966 (sourced from NRCan/DoE)
*winter_s  1  1  3  4 17 10 31 12 # seasons Fri-01-Jan--Sat-03-Apr & Sun-17-Oct--Fri-31-Dec
*spring_s  4  4  8  5 29  8 16 10 # seasons Sun-04-Apr--Sat-08-May & Sun-29-Aug--Sat-16-Oct
*summer_s  9  5 28  8 # summer season Sun-09-May--Sat-28-Aug
*winter_t 21  2 27  2 28 11  4 12 # typical Sun-21-Feb--Sat-27-Feb & Sun-28-Nov--Sat-04-Dec
*spring_t  2  5  8  5 11  9 17  9 # typical Sun-02-May--Sat-08-May & Sat-11-Sep--Fri-17-Sep
*summer_t 15  8 21  8 # typical summer Sun-15-Aug--Sat-21-Aug
*help_start
Climate is Ottawa ON CAN located at 45.32N and 0.67W.
The solar radiation is Direct Normal. Dry bulb temperatures:
 Month     Minimum  Time           Maximum  Time        Mean
 Jan       -25.0 @ 5h00 Mon 27     6.8 @ 4h00 Wed  1   -11.5
 Feb       -21.1 @ 7h00 Wed 26     4.7 @14h00 Thu 20    -9.3
 Mar       -12.2 @ 5h00 Thu  6    11.1 @17h00 Mon 24    -2.1
 Apr       -12.8 @ 6h00 Fri  4    22.2 @15h00 Sun 27     5.6
 May         0.0 @ 5h00 Tue  6    23.9 @15h00 Wed 28    12.2
 Jun         6.7 @ 4h00 Wed  4    30.6 @14h00 Tue 10    18.1
 Jul         8.5 @ 4h00 Sun 27    33.0 @14h00 Sun 20    20.3
 Aug         9.7 @ 6h00 Thu 14    29.9 @15h00 Fri  1    19.3
 Sep         0.5 @ 5h00 Sat 20    28.0 @15h00 Mon  1    14.2
 Oct        -6.7 @ 6h00 Thu 23    23.3 @16h00 Sat 11     7.4
 Nov       -11.7 @ 3h00 Fri 28    17.4 @ 6h00 Sat  1     1.2
 Dec       -23.3 @ 8h00 Sat 27    12.2 @12h00 Sat  6    -7.4
 All  -25.0 @ 5h00 Mon 27 Jan   33.0 @14h00 Sun 20 Jul   5.7
 Typical winter week begins Monday 21 February,
 Typical spring week begins Monday 2 May,
 Typical summer week begins Monday 15 August.
 Typical autumn week begins Monday 11 September.
 Typical winter week begins Monday 28 November,
*season_end
*year  1999 # assessment year
*pnt  ../nets/ccht-elec-gain-into-zone.enf
# sim setup: no. sets startup zone_ts plant_ts save_lv @ each ts
*sps    4   3   1  10   5   0
   9   1  15   1  win      # period & name
*sblr results21.bres
*selr results21.elr
*end_set
  11   7  17   7  sum      # period & name
*sblr results21.bres
*selr results21.elr
*end_set
  15   1  21   1  test     # period & name
*sblr results21.bres
*selr results21.elr
*end_set
   1   1  31  12  full     # period & name
*sblr results21.bres
*selr results21.elr
*end_set
*end_sps
# Name and address of building
*B-NAME not yet defined
*B-ADDRESS not yet defined
*B-CITY not yet defined
*B-POSTCODE not yet defined
# Contact information for building owner
*O-NAME not yet defined
*O-ADDRESS not yet defined
*O-CITY not yet defined
*O-POSTCODE not yet defined
*O-TELEPHONE not yet defined
# Contact information for simulation team
*C-NAME not yet defined
*C-ADDRESS not yet defined
*C-CITY not yet defined
*C-POSTCODE not yet defined
*C-TELEPHONE not yet defined
* PROJ LOG
ccht_basic.log
* Building
CCHT house in ESP-r link to electrical via v2.1 5 *types
      4  # no of zones
*zon   1   # reference for basement    
*opr ../zones/basement.opr  # schedules
*geo ../zones/basement.geo  # geometry
*con ../zones/basement.con  # construction
*zend 
*zon   2   # reference for main_second 
*opr ../zones/main_second-with-elec-gain2.15.opr  # schedules
*geo ../zones/main_second.geo  # geometry
*con ../zones/main_second.con  # construction
*tmc ../zones/main_second.tmc  # transparent constr
*zend 
*zon   3   # reference for roof        
*opr ../zones/roof.opr  # schedules
*geo ../zones/roof.geo  # geometry
*con ../zones/roof.con  # construction
*zend 
*zon   4   # reference for garage      
*opr ../zones/garage.opr  # schedules
*geo ../zones/garage.geo  # geometry
*con ../zones/garage.con  # construction
*zend 
*cnn ../zones/ccht_basic.cnn  # connections
   0   # no fluid flow network
