* CONFIGURATION4.0
# ESRU system configuration defined by file 
# pid.cfg
*date Mon Jul 20 17:04:17 2009  # latest file modification 
*root bld_pid
*zonpth ../zones                  # path to zones
*netpth ../networks               # path to networks
*ctlpth ../ctl                    # path to controls
*radpth ../rad                    # path to radiance files
*imgpth ../images                 # path to project images
*tmppth ./                        # path to project scratch folder
*docpth ./                        # path to project documents
*dbspth ./                        # path to local databases
*indx    3 # Building & Plant
 51.700   -0.500   # Latitude & Longitude (diff from meridian)
      2   0.200   # Site exposure & ground reflectivity
* DATABASES
*prm  /usr/esru/esp-r/databases/material.db3.a
*mlc  /usr/esru/esp-r/databases/multicon.db2
*stdopt  optics.db2
*stdprs  pressc.db1
*evn  /usr/esru/esp-r/databases/profiles.db1.a
*clm  /usr/esru/esp-r/climate/clm67
*stdpdb  plantc.db1
*slr_half_hr   0  # solar timing hour centred
*ctl  ../ctl/pid.ctl
*seasons
*name	Default UK clm Climate
*aide	Climate data as distributed with ESP-r for testing purposes.
*winter_s  2  1 12  3 30 10 31 12 # seasons Mon-02-Jan--Sun-12-Mar & Mon-30-Oct--Sun-31-Dec
*spring_s 13  3 14  5  4  9 29 10 # seasons Mon-13-Mar--Sun-14-May & Mon-04-Sep--Sun-29-Oct
*summer_s 15  5  3  9 # summer season Mon-15-May--Sun-03-Sep
*winter_t  6  2 12  2 20 11 26 11 # typical Mon-06-Feb--Sun-12-Feb & Mon-20-Nov--Sun-26-Nov
*spring_t 17  4 23  4  2 10  8 10 # typical Mon-17-Apr--Sun-23-Apr & Mon-02-Oct--Sun-08-Oct
*summer_t  3  7  9  7 # typical summer Mon-03-Jul--Sun-09-Jul
*help_start
Location is 52.0N and 0.0E. The solar radiation is Direct Normal.
 Month       Minimum  Time           Maximum  Time         Mean
 Jan          -6.4 @20h00 Sun  8    12.7 @14h00 Sun 29     3.8
 Feb          -1.9 @ 5h00 Tue 14    12.2 @13h00 Thu  2     5.2
 Mar          -0.8 @24h00 Fri 31    16.1 @15h00 Tue 21     6.8
 Apr          -1.9 @ 2h00 Sat  1    19.4 @15h00 Mon 17     7.1
 May           0.0 @ 3h00 Wed  3    22.7 @14h00 Thu 11    10.4
 Jun           5.0 @ 2h00 Fri  9    21.1 @15h00 Tue  6    13.6
 Jul           9.4 @ 3h00 Mon  3    27.7 @12h00 Mon 17    18.0
 Aug           7.7 @ 4h00 Sat  5    24.4 @12h00 Tue  1    15.6
 Sep           5.0 @ 6h00 Thu 21    22.2 @12h00 Tue 26    13.5
 Oct           2.2 @ 5h00 Mon 30    19.4 @13h00 Sat  7    10.8
 Nov          -0.8 @ 5h00 Mon 27    14.4 @14h00 Sat 11     5.2
 Dec          -4.2 @ 1h00 Sat  9    12.7 @ 9h00 Sat 23     3.8
 All   -6.4 @20h00 Sun  8 Jan  27.7 @12h00 Mon 17 Jul   9.5
 Typical winter week begins Monday 6 Feb,
 Typical spring week begins Monday 17 April,
 Typical summer week begins Monday 3 July.
 Typical autumn week begins Monday 2 October.
 Typical winter week begins Monday 20 November,
*season_end
*year  1967 # assessment year
*img GIF   ****  ../images/pid.gif
*imdoc schematic of the PID controller
# sim setup: no. sets startup zone_ts plant_ts save_lv @ each ts
*sps    3   3   4  10   4   0
   6   2  12   2  win      # period & name
*sblr bld_pid_win.res
*splr bld_pid_win.plr
*end_set
  17   4  23   4  trn      # period & name
*sblr bld_pid_trn.res
*splr bld_pid_trn.plr
*end_set
   3   7   9   7  sum      # period & name
*sblr bld_pid_sum.res
*splr bld_pid_sum.plr
*end_set
*end_sps
# Address of building, owner and certifier
*B-NAME       not yet defined
*B-ADDRESS    not yet defined
*B-CITY       not yet defined
*B-POSTCODE   not yet defined
*O-NAME       not yet defined
*O-ADDRESS    not yet defined
*O-CITY       not yet defined
*O-POSTCODE   not yet defined
*O-TELEPHONE  not yet defined
*C-NAME       not yet defined
*C-ADDRESS    not yet defined
*C-CITY       not yet defined
*C-POSTCODE   not yet defined
*C-TELEPHONE  not yet defined
* PROJ LOG
pid.log
* Ground
*mgp    1
  4.60  2.80  3.30  5.10  6.10  9.60 11.40 13.60 14.30 12.70  7.50  5.50
*end
* Building
Basic 3 zone model.
      3  # no of zones
*zon   1   # reference for reception   
*opr ../zones/reception.opr  # schedules
*geo ../zones/reception.geo  # geometry
*con ../zones/reception.con  # construction
*tmc ../zones/reception.tmc  # transparent constr
*zend 
*zon   2   # reference for office      
*opr ../zones/office.opr  # schedules
*geo ../zones/office.geo  # geometry
*con ../zones/office.con  # construction
*tmc ../zones/office.tmc  # transparent constr
*zend 
*zon   3   # reference for roof_space  
*opr ../zones/roof_space.opr  # schedules
*geo ../zones/roof_space.geo  # geometry
*con ../zones/roof_space.con  # construction
*zend 
*cnn  bld_pid.cnn  # connections 
      0   # no fluid flow network
* Plant
../networks/pid.pnf  # plant network description
